<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Deadline</th>
      <th>Bid</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, [:admin, project] %></td>
        <td><%= time_ago_in_words project.deadline_on %></td>
        <td>$<%= project.bid %></td>
        <td><span class="tag"><%= project.status.humanize %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Project", new_admin_project_path, class: "button is-primary" %>
