<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forge</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "Forge", root_path, class: "navbar-item has-text-weight-bold" %>
          <div class="navbar-burger burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link_to "Projects", projects_path, class: "navbar-item" %>
            <div class="navbar-item has-dropdown is-hoverable is-mobile">
              <span class="navbar-link">
                Admin
              </span>
              <div class="navbar-dropdown">
                <%= link_to "Projects", admin_projects_path, class: "navbar-item" %>
              </div>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <% if signed_in? %>
                  <p class="control">
                    <% current_user.name %>
                  </p>
                  <p class="control">
                    <%= link_to "Sign Out", sign_out_path, class: "navbar-item button is-primary" %>
                  </p>
                <% else %>
                  <p class="control">
                    <%= link_to "Sign In", sign_in_path, class: "navbar-item button is-primary" %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
